* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

.navbar {
  background-color: #232F3E;
  color: white;
  display: flex;
  justify-content: center;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.nav-icon {
  font-size: 2rem;
  cursor: pointer;
}

.heading-title {
  color: #fff;
  font-size: 2.2rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  color: white;
}
.cart-btn__icon {
  font-size: 2rem;
}
.cart-btn__items {
  border-radius: 30%;
  padding: 0 5px;
  font-size: 1rem;
  position: absolute;
  right: -10px;
  top: -5px;
  background-color: orangered;
}

.hero {
  margin: 0 auto;
  width: 90%;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  color: #232F3E;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 130px;
}
.hero-btn {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: orangered;
  color: white;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.hero-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #232F3E;
}

#products-container__inner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-item {
  padding: 30px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
  margin-bottom: 100px;
}
.product-item__title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.product-item__img {
  width: 400px;
  margin-bottom: 20px;
}
.product-item__description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.product-item__price {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
}
.product-item__coloris {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.product-item__quantity {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.product-item__btn {
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: orangered;
  color: white;
  border: none;
}

#product-container {
  min-height: calc(100vh - 90px);
}

.no-shadow-margin {
  box-shadow: none;
  margin-bottom: 0;
}

.panier-title {
  font-size: 34px;
  text-align: center;
  margin-top: 20px;
}

.panier-name {
  width: 100px;
}

#panier-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}

.panier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(5, 4, 4, 0.25);
  border: 1px solid grey;
  background-color: #f2f2f2;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}
.panier-item p {
  font-size: 20px;
}

.panier-image {
  width: 150px;
  height: 100px;
}
.panier-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panier-quantity {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 120px;
}
.panier-quantity p {
  font-size: 20px;
}
.panier-quantity__icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #232F3E;
}
.panier-quantity__icon i {
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.delete-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.delete-icon i {
  font-size: 24px;
  cursor: pointer;
  color: #232F3E;
}

.panier-total {
  width: 100%;
}

.information-title {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

.sorrymessage {
  color: black;
  font-size: 18px;
}

.information-container {
  padding: 2%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}
.form-item label {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232F3E;
  color: white;
  font-size: 18px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.form-item input {
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid grey;
  width: 80%;
  font-size: 18px;
  padding-left: 10px;
}

.information-container form .form-submit-btn {
  width: 25%;
  text-align: center;
  cursor: pointer;
  background-color: orangered;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
}

.confirmation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.confirmation-container .sentence {
  width: 100%;
  margin-top: 50px;
  font-size: 1.5rem;
}
.confirmation-container .sentence span {
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 3rem;
  }

  .product-item__img {
    width: 300px;
  }

  .form-item label {
    width: 40%;
  }

  .form-item input {
    width: 60%;
    font-size: 16px;
  }

  .information-container form .form-submit-btn {
    width: 75%;
  }

  .panier-image {
    width: 100px;
  }

  .panier-name {
    width: 80px;
  }

  .panier-quantity {
    width: 60px;
  }
  .panier-quantity__icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }

  .panier-item p {
    font-size: 16px;
  }

  .delete-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .delete-icon i {
    font-size: 18px;
  }
}
@media screen and (max-width: 350px) {
  .panier-image {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
